
<h1> Show</h1>

<table>

<tr><th> Title </th><th> Description </th><th> Category </th></tr>
 <tr> 
    <td> <%= @entry.title %> </td>
    <td> <%= @entry.description %> </td>
    <td> <%= @entry.rendered_category_name%> </td> 
 </tr>
  <td><%= link_to 'Back', entries_path %></td>

</table>